.vscode/**
.vscodeignore
**/*.ts
**/*.map
**/*.d.ts
src/**
node_modules/.cache/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/*.md
node_modules/better-sqlite3/deps/**
node_modules/better-sqlite3/docs/**
node_modules/better-sqlite3/lib/**/*.map
.eslintrc*
.gitignore
**/tsconfig.json
**/esbuild.js
**/package-lock.json
out/**
dist-tsc/**
*.vsix
**/__tests__/**
.git/**